spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: dydydade@gmail.com
    password: goswqhrgbvrmwtlp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 1800000  # 30 * 60 * 1000 == 30분

  data:
    redis:
      mail:
        host: localhost # 임시방편으로 로컬에서 테스트를 위해 설정
        port: 6379